* {
    margin: 0;
    padding: 0;
}

img {
    height: 10vh;
    margin-left: 30px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* 100% da altura da viewport */
}

main {
    flex: 1;
    /* Faz o conteúdo principal ocupar todo o espaço disponível */
}

button {
    margin-right: 30px;
}

.navbar {
    position: fixed;
    margin: 10px 20px 0 90%;
    width: 0;
    height: 0;
    flex-direction: column;
}
.navbar > button {
    background-color: rgb(0, 0, 0, 0.2);
}

@media (min-width: 992px) {

    .footer {
        position: fixed;
        width: 250px;
        bottom: 0;
        border-radius: 3%;
        /* 100% da altura da viewport */
        flex-direction: column;
    }

    main {
        padding-left: 250px;
    }

    .navbar {
        position: fixed;
        width: 250px;
        height: 100vh;
        margin: auto;
        /* 100% da altura da viewport */
        flex-direction: column;
    }

    .navbar-nav {

        /* Ajusta a largura da lista de navegação */
        text-align: center;
        /* Centraliza os itens do menu na vertical */
    }


}