* {
    margin: 0;
    padding: 0;
}

img {
    height: 10vh;
    margin-left: 30px;
   
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* 100% da altura da viewport */
}

.offcanvas a h5 {
    text-align: center;
    padding: 20px;
}

main {
    flex: 1;
    /* Faz o conteúdo principal ocupar todo o espaço disponível */
}

button {
    margin-right: 30px;
}

.navbar {
    position: fixed;
    margin: 2em;
    align-items: center;
    width: 0;
    height: 0;
    flex-direction: column;
}
.navbar-nav {
    text-align: left;
}
.navbar>button {
    background-color: rgb(0, 0, 0, 0.2);
    align-items: end;
}

@media (min-width: 992px) {

    .footer {
        position: fixed;
        width: 250px;
        bottom: 0;
        border-radius: 3%;
        /* 100% da altura da viewport */
        flex-direction: column;
    }

    main {
        padding-left: 250px;
    }


    .navbar {
        position: fixed;
        width: 250px;
        height: 100vh;
        margin: 0 auto;
        flex-direction: column;
    }



    .navbar-nav {
        text-align: left;
    }


}